<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167778331253-1frj2j55bru9rhfjk6q2gk059cvkg67m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167778331253-1frj2j55bru9rhfjk6q2gk059cvkg67m</string>
	<key>API_KEY</key>
	<string>AIzaSyDvJw39O1HkAJdxQM5O8IYCiLm4ebJJS3U</string>
	<key>GCM_SENDER_ID</key>
	<string>167778331253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-2d94a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-2d94a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167778331253:ios:11a42fa329ab7b3250263c</string>
</dict>
</plist>